<div class="container">
  <h2>Posts About Food</h2>

  <ul *ngFor="let post of foodPostList">
    <h4> {{post.headline}} </h4>
    <p> {{post.body}} </p>
  </ul>

  <div class="new-post-form">
    <div class="form-group">
      <label>Header:</label>
      <input #headline class="form-control">
    </div>
    <div class="form-group">
      <label>Body:</label>
      <textarea #body class="form-control"></textarea>
    </div>
    <button class="btn" (click)="submitForm(headline.value, body.value);">Submit</button>
  </div>
</div>
