<div class="container">
  <h2>Posts About Food</h2>

  <ul *ngFor="let post of foodPostList">
    <h4> {{post.headline}} <button class="btn" (click)="viewButtonClicked(post)">View Post</button></h4>
    <div *ngIf="post.showBody">
      <p> {{post.body}} </p>
      <button class="btn" (click)="hideButtonClicked(post)">Hide</button>
    </div>
    <button class="btn-info" (click)="editPost(post)">Edit Post</button>
  </ul>

  <div *ngIf ="selectedPost">
    <div class="form-group">
      <label>Header:</label>
      <input [(ngModel)]="selectedPost.headline" class="form-control">
    </div>
    <div class="form-group">
      <label>Body:</label>
      <textarea [(ngModel)]="selectedPost.body" class="form-control"></textarea>
    </div>
  </div>

  <div class="new-post-form">
    <div class="form-group">
      <label>Header:</label>
      <input #headline class="form-control">
    </div>
    <div class="form-group">
      <label>Body:</label>
      <textarea #body class="form-control"></textarea>
    </div>
    <button class="btn" (click)="submitForm(headline.value, body.value); headline.value=''; body.value='';">Submit</button>
  </div>
</div>
